.Footer{
    background-color:  #909090 ;
    display: flex;
    align-items: center;
    justify-content:space-around;
}

.map{
    display: flex;
    justify-content: flex-start;
}

.map2{
    display: flex;
    justify-content: center;
    align-items:flex-start;
}

.list li{
    list-style-type: none;
    color: white;
}

.list2 li {
    list-style-type: none;
    color: white;
}

.logos-main {
    display: flex;
    flex-direction: row;
}

.logos{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    list-style-type: none;
}
.logos2{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    flex-direction: column;
    list-style-type: none;
}


.logos img{
    max-width: 10vw;

}
.logos2 img{
    max-width: 10vw;
    max-height: 10vh;

}

a{
    color: #a02224 ;
}

a:link{
    text-decoration: none;
}

a:visited{
    text-decoration: none;
}